0 10    * * *   root    source /root/.zshrc && cd /my-workspace-api && /usr/bin/python3 spider/exchange_rate.py
0 10    * * *   root    source /root/.zshrc && cd /my-workspace-api && /usr/bin/python3 spider/weather.py
